/*=====================================================================

About Template

==========================================================================*/
.about {
	.col{
		p,h1,h2,h3,h4,h5,ol,ul{
			max-width:800px;
			width:95%;
			margin:0 auto;
		}
		>ol, >ul {
			padding-left:15px;
		}
	}
	.col-1-1 {
		border-bottom:3px solid $silver;
		margin-bottom:2em;
		padding: 0 1em 1em 1em;
	}
		.about-thumb {
		position:relative;
		width: 200px;
		height:200px;
		margin:0 auto;
		overflow:hidden;
		margin-bottom: 2em;
		.circle {
			position:relative;
			width:100%;
			height:100%;
		}
		img {
			width:100%;
			height:100%;
			position:relative;
			border-radius:50%;

		}
	}
	h3 {
		text-align:center;
	}
	p {
		margin:1em 3em;
	}

}

@media screen and (max-width: 38em){
	.about {
		p {
			margin: 1em 0;
		}
		.col-1-1 {
			padding:0 .5em 1em .5em;
		}
	}
}
