.blog-home{
  @media(max-width:1200px){
    padding:0 1.5em;
  }
}

.content .blog-module {
  display:block;
  border-bottom:2px solid $silver;
  padding:2em 0;
  display:flex;
  text-decoration:none;
  color:$black;
  @media(max-width:700px){
    display:block;
    .blog-home-left{
      margin:1em auto;
      text-align:center;
    }
    h5 {
      text-align:center;
    }
    h3{
      margin:1em 0;
    }
  }
  &:last-of-type{
    border-bottom:none;
  }
  &:hover{
    background:$silver;
  }
  .blog-home-left{
    margin-right:1.5em;

  }
  .blog-home-right{
  }
  h3 {
    color:$blue;
    margin:0;
  }
  h5 {
    font-size:1.2em;
    text-transform: none;
    color:$blue;
    margin:0;
  }
}







//Single-blog.php//
