/*---------------------------------------------------------------------------
-----========================================================================
			Variables
---------------------------------------------------------------------------
-----========================================================================*/
$background:#fff;
$green: #2ECC40;
$black: #111111;
$silver: #dddddd;
$blue: #0074D9;
$red:#FF4136;
$orange:#FF851B;
$grey:#333;
$white:#ffffff;
