/*=====================================================================

Products Template

==========================================================================*/

.gallery{
	display:flex;
	justify-content:center;
}
.gallery-item {
	height:auto;
	margin-right:1%;
	margin-bottom:.2em;
	transition: position 3s ease;
	position:relative;
	&:last-of-type{
		margin-right:0;
	}

	img {
		width:100%;
		height:auto;
		box-shadow:1px 1px 3px 0 rgba(0,0,0, 0.5);
	}
}

.gallery-icon:hover {
	top:3px;
}

.products-single {
	address {
		clear:both;
		display:block;
	}
}

.extra-content-products {
	max-width:800px;
	width:100%;
	margin:2em auto;
	padding:1em;
}

.extra-content-products { /* On the Products Page*/
  h1, h2, h3, h4, h5, h6 {
    clear:both;
		display:block;
		margin:2em 0;
  }

  @media all and (max-width:650px) {
		padding:1em;
    .alignnone , .aligncenter,
    div.aligncenter ,.alignright, .alignleft {
        float: none;
        display:block;
        margin: 0 auto;
    }
		img {
			max-width:100%;
			display:block;
		}
  }
}

@media screen and (max-width: 35em){
	.content {
		.gallery-icon {
			width:31%;
			margin-right:2%;
		}
	}
}

.products-wrap {
	padding:2em 0;
	max-width:1200px;
	margin:0 auto;
}
.products-link {
	display:block;
	position:relative;
	text-decoration:none;
}
.products-thumb {
	padding:1em 1em;
	margin:0.5em;
	transition:all .3s ease;
	background:#fff;
	box-shadow:0 4px 6px 0 rgba(0,0,0,0.7);
	border-top:10px solid $black;
	&:hover {
		transform:scale(1.05);
		border:1px solid rgba(0,0,0,0.2);
		box-shadow:1px 1px 4px  #ccc;
	}
	img {
		width:100%;
	}
	p, h4 {
		display:block;
	}
	h4 {
		color:$black;
		margin:0.5em 0;
	}
	p {
		color:$black;
	}
}


.products-thumb-link {
	a {
		color:rgba(0,0,0,0.5);
	}
}

.product-details {
	img {
		margin-top:1.4em;
	}
}

@media all and (max-width: 600px){
	.products {
		.grid .col-1-3 {
			width:100%;
		}
	}
}

// Exterior

.exterior {
	.grid {
		padding:2em;
		.col-1-2 {
			padding:0;
			position:relative;
		}
	}
	.grid:first-child {
		padding:0;
	}
	.products-show {
		.products-thumb {
			width:60%;
		}
	}
	[class*='show'] {
		text-align:center;
	}
	.products-show {
		margin-top:1.2em;
		margin-bottom:1.2em;
	}

}

@media screen and (max-width: 50em){
	.products-new {
		.grid {
			.col-1-3{
				@include rowMachine(2,5%);
			}
		}
	}
}
@media screen and (max-width: 35em){
	.products-new {
		.grid {
			.col-1-2 {
				margin-top:1em;
			}
			.col-1-3 {
				@include rowMachine(1, 0);
				padding-bottom:1.5em;
			}
			.hide {
				position:fixed;
				width:100%;
				left:0;
				right:0;
				margin:0;
				top:0;
				bottom:0;
			}
		}
	}
}
